* {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}
body {
    background: rgb(46, 46, 46);
}
form {
    background: black;
    color: white;
    border: 1px solid rgb(63, 63, 63);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
input {
    margin: 10px;
    width: 200px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
}
button {
    margin: 10px;
    height: 30px;
    width: 120px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
div {
    background: black;
    color: white;
    border: 2px solid rgb(85, 85, 85);
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}
a {
    text-decoration: none;
    color: skyblue;
}
a:hover {
    color: rgb(0, 119, 255);
}